html {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #3f00ab;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    overflow: scroll;

    }

#breadcrumb, a {
        text-align: left;
        color: rgb(255, 242, 0);        
    }

#restart, p {
    padding-top: 25px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    padding-bottom: 25px;
    width: 500px;
}

.container {
    width: 500px;
  
    margin: auto;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;  
    background-color: rgb(157, 157, 157);
    margin-left: 50px;
    margin-top: 20px;

    margin-bottom: 10px;
}

.grid div {
    font-size: 25px;
    text-align: center;
    
}

.valid, .bomb {
    width: 40px;
    height: 40px;
    border: 3px solid;
    border-color: #f5f3eb #41413d #525252 #a9a9a9;
    box-sizing: border-box;
}

.checked {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(35, 35, 35);
    box-sizing: border-box;
}

.one {
    color: green;
}

.two {
    color: blue;
}

.three {
    color: yellow;
}

.four {
    color: orangered;
}

#result {
    margin-top: 5px;
    color: #e76346;
  }